extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner #{user.username}
    div.Message.Center
      - let assignment = user.assignments[classIndex][assignmentIndex]
      table.table
        tr
          th Class
          td= user.json[classIndex].class
        tr
          th Assignment
          td= assignment.assignmentName
        tr
          th Date Assigned
          td= assignment.dateAssigned
        tr
          th Date Due
          td= assignment.dateDue
        tr
          th Category
          td= assignment.categoryDesc
        tr
          th Cat. Weight
          td= assignment.categoryWeight
        tr
          th Percentage
          td= assignment.percentage
        tr
          th Score
          td= assignment.fraction
    div.NavButtons
      a(href="/assignments")
        div.NavButton Back
      a(href="/logout")
        div.NavButton Log Out
