extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner #{user.username}
    div.FlexContainer.Center
      each val in [1, 2, 3, 4, 5, 6, 7, 8]
        div.FlexItem.Message.Center
          - let info = user.json[index]
          table.table.FlexTable
            tr.FlexHeadingRow
              td.FlexHeading Period
              td.FlexHeading Room
              td.FlexHeading Absences
              td.FlexHeading Tardies
            tr.FlexHeadingRowBottom
              td.FlexHeadingBottom= info.period.split("(")[0]
              td.FlexHeadingBottom= info.room
              td.FlexHeadingBottom= info.absences
              td.FlexHeadingBottom= info.tardies
            tr
              if info.class.split(" ")[0][1] === "S"
                th(colspan=4)= info.class.split(" ").slice(1).join(" ")
              else if info.class === "Student Meal"
                th(colspan=4) Lunch
              else
                th(colspan=4)= info.class
            tr
              td(colspan=4)= info.teacher
            tr
              - let avg = info.average
              if avg >= 90
                td(colspan=4)
                  span.highlight.a= avg + " A"
              else if avg >= 80
                td(colspan=4)
                  span.highlight.b= avg + " B"
              else if avg >= 70
                td(colspan=4)
                  span.highlight.c= avg + " C"
              else if avg >= 60
                td(colspan=4)
                  span.highlight.d= avg + " D"
              else if avg
                td(colspan=4)
                  span.highlight.f= avg + " F"
              else
                td(colspan=4)
    div.NavButtons
      a(href="/grades")
        div.NavButton Back
      a(href="/logout")
        div.NavButton Log Out
