extends layout

block script
  script(src="/grades.js")

block layout-content
  div.View.WelcomeView
    h1.Banner #{user.username}
    div.Message.Grades.hover
      table.table
        thead.over-600px
          th.text-center.over-900px Period
          th.text-center.over-600px.under-900px Per
          th.over-600px Class
          th.over-600px Teacher
          //th.over-600px.under-900px Tchr
          th.text-center.over-900px Room
          th.text-center.over-600px.under-900px Rm
          th.text-center.over-900px Average
          th.text-center.over-600px.under-900px Avg
          th.text-center.over-900px Absences
          th.text-center.over-600px.under-900px Abs
          th.text-center.over-900px Tardies
          th.text-center.over-600px.under-900px Tds
        tbody
          - let n = 0
          each i in user.json
            - let redir = `redirect(${n})`
            tr(onclick=redir)
              td.text-center= user.json[n].period.split("(")[0]
              if user.json[n].class.split(" ")[0][1] == "S"
                  td.over-600px= user.json[n].class.split(" ").slice(1).join(" ")
              else
                  td.over-600px= user.json[n].class
              if user.json[n].class == "Student Meal"
                td.under-600px Lunch
                td.under-900px.over-600px= user.json[n].teacher.split(",")[0]
              else
                td.under-900px= user.json[n].teacher.split(",")[0]
              td.over-900px= user.json[n].teacher
              td.text-center.over-600px= user.json[n].room
              td.text-center.averageTd
                - let avg = user.json[n].average
                if avg >= 90
                  span.highlight.a= avg + " A"
                else if avg >= 80
                  span.highlight.b= avg + " B"
                else if avg >= 70
                  span.highlight.c= avg + " C"
                else if avg >= 60
                  span.highlight.d= avg + " D"
                else if avg
                  span.highlight.f= avg + " F"
              td.text-center.over-600px= user.json[n].absences
              td.text-center.over-600px= user.json[n++].tardies
    div.NavButtons
      a(href="/gradesAlt")
        div.NavButton Change View
      a(href="/logout")
        div.NavButton Log Out
