extends layout

block script
  script(src="/login.js")

block layout-content
  div.View.WelcomeView
    h1(onclick="window.location='/'").Banner OAK
    div.Message.Center
      div.Title
        h1 Welcome to OakGrades!
      div.Title.Details
        div OakGrades is compatible with the Aspen gradebook system.
        div We do not save any personal information.
      div.Title.Login
        h3(id="header").text-center Login
      if err
        div(id="err").text-center.Err #{err}
      form(method="post", action="/login", id="login-form")
        div.form-group
          input(placeholder="Username", name="username", type="text", id="usernameInput").form-control
        div.form-group
          input(placeholder="Password", name="password", type="password", id="passwordInput").form-control
        div.NavButtons
          button(type="submit", id="go").NavButton Go
      div.Section
        div.Title
          h3 Using iOS?
        div.Details
          div Add our shortcut to your home screen!
          div You must allow untrusted shortcuts in Settings.
        div.NavButtons
          a(href="https://www.icloud.com/shortcuts/66f56357af294713b291f220c90f19bc")
            div.NavButton Safari
          a(href="https://www.icloud.com/shortcuts/60353d21bc4840738681cb905b08a591")
            div.NavButton Chrome
      div.Section
        div.Title
          h3 Improve Your Grades
        div.Details
          div OakGrades allows you to monitor your grades quickly and easily.
          div With our fast and secure interface, you never have to deal with
          div(style="margin-left: 20px")
            li incorrect averages,
            li difficult navigation,
            li and annoying zooming.
          div Notice changes to your letter grade immediately with color-coding.
          div Quickly view your scores on assignments as they are entered.
          div Read the blog for more information.
          div.NavButtons
            a(href="/blog")
              div.NavButton Blog
      div.Section
        div.Title
          h3 Check Me Out
        div.Details
          div OakGrades was created by a sole developer, Mike Dougherty.
          //div Donate to support him!
          div Check out his GitHub!
        div.NavButtons
          //
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
target="_top">
        <input type="hidden" name="cmd" value="_donations" />
  <input type="hidden" name="business" value="mikedough213@gmail.com" />
  <input type="hidden" name="currency_code" value="USD" />
  <input type="image"
  src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
  name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate
  with PayPal button" />
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif"
  width="1" height="1" />
  </form>


            a(href="#")
              div.NavButton Donate
          a(href="https://github.com/michaelpdougherty")
            div.NavButton GitHub
