extends layout

block script
  script(src="/assignments.js")

block layout-content
  div.View.WelcomeView
    h1.Banner #{user.username}
    div.Message.Assignments.Center.hover
      -let c = 0
      each i in user.assignments
        if user.json[c]["class"] != "Student Meal"
          table.table
            thead(onclick='collapse(this)').noActive
              th(colspan="3")= user.json[c]["class"]
              //img(src="dropdownIcon.png", height="25", width="25").assignmentsDropdownIcon
            tbody
              if user.assignments[c].length != 0
                - let a = 0
                each j in i
                  - let redir = `redirect(${c}, ${a})`
                  tr(onclick=redir)
                    td= j['assignmentName']
                    //-
                      td= j['dateDue']
                      td= j['dateAssigned']
                      td= j['categoryDesc']
                      td= j['categoryWeight']
                    if j['percentage'] == "Ungraded"
                      td(colspan="2").text-center= j['percentage']
                    else
                      td= j['percentage']
                      td= j['fraction']
                  - a++
              else
                tr.noHover
                  td.text-center(colspan="3") No assignments yet.
        - c++
    div.NavButtons
      a(href="/")
        div.NavButton Home
      a(href="/logout")
        div.NavButton Log Out
