extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner #{user.username}
    div.Message.Center
      - let info = user.json[index]
      table.table
        tr
          th Period
          td= info.period.split("(")[0]
        tr
          th Class
          td= info.class
        tr
          th Teacher
          td= info.teacher
        tr
          th Semester
          td= info.semester
        tr
          th Room
          td= info.room
        tr
          th Average
          - let avg = info.average
          if avg >= 90
            td
              span.highlight.a= avg + " A"
          else if avg >= 80
            td
              span.highlight.b= avg + " B"
          else if avg >= 70
            td
              span.highlight.c= avg + " C"
          else if avg >= 60
            td
              span.highlight.d= avg + " D"
          else if avg
            td
              span.highlight.f= avg + " F"
          else
            td
        tr
          th Absences
          td= info.absences
        tr
          th Tardies
          td= info.tardies
    div.NavButtons
      a(href="/grades")
        div.NavButton Grades
      a(href="/logout")
        div.NavButton Log Out
