extends layout

block script
  script(src="/classAssignments.js")

block layout-content
  div.View.WelcomeView
    h1.Banner #{user.username}
    div.Message.Center.hover
      //if user.json[c]["class"] != "Student Meal"
      table.table
        thead
          th(colspan="3")= user.json[c]["class"]
        tbody
          if user.assignments[c]
            if user.assignments[c].length > 0
              - let a = 0
              each j in user.assignments[c]
                - let redir = `redirect(${c}, ${a})`
                tr(onclick=redir)
                  td= j['assignmentName']
                  //-
                    td= j['dateDue']
                    td= j['dateAssigned']
                    td= j['categoryDesc']
                    td= j['categoryWeight']
                  if j['percentage'] == "Ungraded"
                    td(colspan="2").text-center= j['percentage']
                  else
                    td= j['percentage']
                    td= j['fraction']
                - a++
            else
              tr.noHover
                  td.text-center(colspan="3") No assignments yet.
          else
            tr.noHover
              td.text-center(colspan="3") No assignments yet.
    div.NavButtons
      a(href="/grades")
        div.NavButton Back
